.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.gallery-item {

    flex-basis: calc((100% - 48px) / 3);
}

.gallery-image {
    max-width: 360px;
    transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);

}

.gallery-item:hover img {
    transform: scale(1.03);
}

.gallery-big-image {
    width: 1112px;
}