.wrapper {
    margin: 0 auto;
    max-width: 1130px;
    padding: 0 20px;
}

.task-list,
.back-link {
    margin: 20px 50px;
    font-size: 30px;
    color: darkolivegreen;
    font-weight: bold;
}

.task-list a,
.back-link {
    text-decoration: underline;
}